/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* com */

#wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 21rem;
  background: skyblue;
  position: relative;
}
.header .icon ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.938rem;
  top: 1rem;
  right: 1.25rem;
}
.header .logo {
  display: inline-block;
  text-align: center;
  padding: 1.25rem;
  background: greenyellow;
}
