@import url("./reset.css");

$color: (
  twosomepoint: #d50037,
  darkgray: #777777,
  middlegray: #707070,
  semiblack: #333333,
  lightgray: #efefef,
);
$delimenu-font: (
  kortitle: 2rem,
  engtitle: 1rem,
);
$modal-font: (
  title: 3.8rem,
  subtitle: 2rem,
  table: 1.3rem,
);
// container
<<<<<<< HEAD

=======
body {
  background: #eeee;
}
>>>>>>> 80ca1f8519c25d6ffcd17b50e7b78bfb35c02902
#container {
  position: relative;
  max-width: 1920px;
  height: 1500px;
  margin-top: 7rem;
  font-family: "Noto Sans KR";
  display: flex;
  align-items: center;
  justify-content: center;
  section {
<<<<<<< HEAD
    border: 1px solid red;
    width: 100%;
    height: inherit;
    margin: 0 35.2rem;
    padding: 0 4.8rem;
=======
    width: 100%;
    height: inherit;
    margin: 0 352px;
    // padding: 0 48px;
>>>>>>> 80ca1f8519c25d6ffcd17b50e7b78bfb35c02902
  }
}
// header
header {
  display: block;
  ul {
    display: flex;
    li {
      font: 700 1.4rem/1 "";
      &:first-child {
        a {
          color: map-get($color, middlegray);
        }
      }
      &:last-child {
        a {
          color: map-get($color, twosomepoint);
        }
        margin-left: 0.5em;
      }
      &:last-child::before {
        content: "";
        display: inline-block;
        width: 0.3rem;
        height: 0.3rem;
        background: #000;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }
  margin-bottom: 5rem;
}
// main
.delistory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  .deli_title {
    font: 700 7.2rem/1 "Noto Sans KR";
    margin-bottom: 3rem;
  }
}
.deli_contents {
  display: flex;
  align-items: center;
  .deli_txt {
    padding-right: 10vw;
    .deli_Engtitle {
      font: 5.5rem/1.2 "Montserrat";
      margin-bottom: 3rem;
    }
    .deli_subtitle {
      font: 700 3.2rem/1.2 "";
      word-break: keep-all;
      margin-bottom: 3rem;
    }
    .deli_desc {
      font: 400 1.8rem/1.5 "Noto Sans KR";
      color: map-get($color, semiblack);
      word-break: keep-all;
    }
  }
  .deli_img {
    img {
<<<<<<< HEAD
      width: 48.6rem;
      height: 65.4rem;
=======
      width: 486.39px;
      height: 654.11px;
>>>>>>> 80ca1f8519c25d6ffcd17b50e7b78bfb35c02902
    }
  }
  margin-bottom: 5rem;
}
// slider
.deli_menu {
  width: 100%;
  height: 100%;
  .menu_title {
    font: 700 4rem/1 "Noto Sans KR";
    margin-bottom: 3rem;
  }
}
.menu_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
}
.menu_slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  position: relative;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 21.7rem;
    height: 21.7rem;
    background: map-get($color, twosomepoint);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.5s;
  }
  .menu_img {
    width: 21.7rem;
    height: 21.7rem;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu_txt {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s;
    p:first-child {
      font: 700 1.8rem/1 "Noto Sans KR";
      color: white;
      margin-bottom: 0.6rem;
    }
    p:last-child {
      font: 400 1rem/1 "";
      color: white;
    }
  }
  &:hover::before {
    opacity: 0.7;
  }
  &:hover .menu_txt {
    opacity: 1;
  }
}
<<<<<<< HEAD
// modal
=======
>>>>>>> 80ca1f8519c25d6ffcd17b50e7b78bfb35c02902
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110rem;
  height: 70rem;
  background: map-get($color, lightgray);
  border-radius: 2rem;
  display: none;
  overflow: hidden;
  z-index: 3;
  .xbtn {
    display: block;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    cursor: pointer;
    span {
      font-size: 2.1rem;
      color: map-get($color, darkgray);
    }
  }
  .modal_img {
    width: 49.6rem;
    height: 100%;
    margin-right: 5rem;
    img {
      width: 100%;
      height: inherit;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .modal_info {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .foodtxt_title {
      font: 700 3.8rem/1 "Noto Sans KR";
      margin-bottom: 1.1rem;
    }
    .foodtxt_subtitle {
      font: 400 2rem/1 "Noto Sans KR";
      color: map-get($color, twosomepoint);
    }
    .foodtxt_bar {
      margin: 2rem 0;
      width: 15%;
      border: 0.05rem solid map-get($color, darkgray);
    }
    .foodtxt_desc {
      font: 400 1.8rem/1.5 "Noto Sans KR";
      color: map-get($color, semiblack);
      word-break: keep-all;
    }
    .foodtxt_allergy {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 2.8rem 0;
      .foodtxt_allergy_desc,
      .foodtxt_allergy_title {
        font: 300 1.3rem/1 "Noto Sans KR";
      }
      &::before {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.3rem;
        background: map-get($color, twosomepoint);
      }
    }
    .foodinfo {
      .foodinfo_title {
        font: 500 2rem/1 "Noto Sans KR";
        color: map-get($color, darkgray);
        margin-bottom: 1.5rem;
      }
    }
    .foodinfo_table {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      div {
        font: 400 1.3rem/1 "Noto Sans KR";
        color: map-get($color, darkgray);
        border-top: 1px solid #777777;
        padding: 1rem;
        &:nth-child(1),
        &:nth-child(2) {
          border-top: 2px solid #777777;
        }
        &:last-child,
        &:nth-child(13) {
          border-bottom: 2px solid #777777;
        }
        &:nth-child(even) {
          text-align: right;
        }
        &:nth-child(odd) {
          font: 500 1.3rem/1 "Noto Sans KR";
        }
      }
    }
  }
}
.modal.on {
  display: flex;
}
<<<<<<< HEAD

@media screen and (max-width: 768px) {
  section {
    border: 1px solid red;
    padding: 0 3rem;
  }
  header {
    display: none;
  }
  .delistory {
    .deli_title {
      font-size: 3.2rem;
      padding-right: 0;
    }
    .deli_contents {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 480px) {
}
=======
>>>>>>> 80ca1f8519c25d6ffcd17b50e7b78bfb35c02902
