* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}
input {
  width: 400px;
  height: 100px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.log {
  color: white;
  width: 400px;
  height: 100px;
  border: 1px solid white;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
}
