@import url(./reset.css);

/*------------ common ------------*/
.wrap {
  width: 100%;
  height: 100%;
}
section:not(main > section) {
  width: 100%;
  height: 100vh;
  padding: 15rem;
  padding-top: 12rem;
}
.mainContentWrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.section-title {
  margin-top: 5rem;
  font: 5.5rem "Welland";
}

/*------------ header ------------*/
header {
  position: absolute;
  width: 100%;
  height: 10rem;
  padding: 0rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  transition: border-bottom 0.3s;
  border-bottom: 1px solid transparent;
}
header h1 {
  width: 3.5rem;
  height: 5rem;
}
header h1 a svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: white;
  transition: all 0.3s;
}
header nav ul li {
  float: left;
  margin-right: 4rem;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li a {
  font: 500 1.8rem "Noto Sans";
  color: white;
  transition: color 0.5s;
}
header nav ul li a:hover,
header.fixed nav ul li a:hover {
  color: var(--sub-color);
}
header.fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid black;
}
header.fixed h1 a svg {
  fill: var(--main-color);
}
header.fixed nav ul li a {
  color: var(--main-color);
}

/*------------ main ------------*/
main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .maintitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .maintitle svg {
  width: 75rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
main .maintitle p {
  position: relative;
  width: 50%;
  color: white;
  font: 300 1.5rem/2 "Noto Sans";
  text-align: center;
}
main .maintitle p::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1px;
  height: 5rem;
  background: white;
}
.scrolleffect {
  position: absolute;
  bottom: 5rem;
  width: 2.5rem;
  height: 5rem;
  display: inline-block;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 3rem;
  cursor: pointer;
  z-index: 50;
}
.scrolleffect:hover span {
  animation: move 2s ease-in infinite;
}
.scrolleffect span {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 50%;
}
@keyframes move {
  0% {
    top: 10%;
  }
  50% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}
main .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -50;
}
main .background::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(./img/002.jpg) no-repeat center center/cover;
  mix-blend-mode: overlay; /* Multiply 효과 적용 */
  opacity: 0.4;
}
main .background h3 {
  position: absolute;
  font: 34.8rem "YesevaOne";
  color: var(--main-color);
  text-shadow: 0px 2px 5px rgba(238, 238, 238, 0.15);
  letter-spacing: 10.44px;
  font-style: italic;
  transform: skewY(-15deg) rotate(15deg);
}
main .background h3:first-child {
  top: 10%;
  left: -5%;
}
main .background h3:last-child {
  right: -60%;
  bottom: 10%;
}
main .blackBox {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
}

/*------------ about ------------*/
.aboutsection {
  width: 100%;
  display: flex;
  gap: 5rem;
}
.introduce {
  border: 1px solid red;
  flex: 1;
}
.about-skills {
  border: 1px solid red;
  flex: 2;
}
