@font-face {
  font-family: "nanum gothic";
  src: url("/missionresult/font/NanumGothic.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  /* 문구의 시작점을 맞춰줌 */
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "nanum gothic";
}
