* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-container {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
}
.slide {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
  padding: 0 10%;
  background: pink;
}
.slider-container.animated {
  transition: left 0.3s ease-in;
}
blockquote {
  color: #636363;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.5em;
}
cite {
  font-size: 0.75em;
  font-weight: 700;
  font-style: normal;
}
#prev,
#next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s ease-in;
}

#prev {
  background-image: url("../img/arrow-left-out.svg");
  margin-left: -480px;
}
#prev:hover {
  background-image: url("../img/arrow-left-over.svg");
}
#next {
  background-image: url("../img/arrow-right-out.svg");
  margin-left: 380px;
}
#next:hover {
  background-image: url("../img/arrow-right-over.svg");
}
#prev.disabled,
#next.disabled {
  display: none;
}

/* pager */
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  text-align: center;
}
.pager span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  text-indent: -99999999em;
  margin: 0 10px;
}

.pager span.active {
  background: #333;
}
