@import url("/reset.css");

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  background: #262e23;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0, auto;
}
.container::after {
  content: "";
  width: 150%;
  height: 150%;
  background-image: url("/img/Frame\ 9.png");
  background-size: cover;
  background-blend-mode: lighten;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}

/* header */
header {
  /* position: fixed; */
  width: 100%;
  transition: 0.5s;
  padding-bottom: 80px;
  z-index: 9999;
}

nav {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
.logo a {
  font-family: "lemonb";
  color: #b8eb4b;
  font-weight: 800;
  font-size: 1.6em;
}
.gnb {
  display: flex;
  flex-direction: row;
}
.gnb li a {
  margin: 20px;
  color: white;
}
.gnb li a:hover {
  color: #b8eb4b;
}
.trigger {
  display: none;
}
.title {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.title h1 {
  font-family: "lemonb";
  font-size: 126px;
  color: transparent;
  -webkit-text-stroke: 3px #b8eb4b;
}
.title h2 {
  font-family: "press";
  color: #b8eb4b;
  font-size: 130px;
}
.title p {
  background: #b8eb4b;
  color: #262e23;
  padding: 10px;
  letter-spacing: 15px;
  border-radius: 30px;
}
.center-contents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 45%;
  top: 50%;
}
.blur-circle {
  position: inherit;
  display: inline-block;
  width: 479px;
  height: 479px;
  border-radius: 50%;
  background: rgba(35, 197, 51, 0.3);
  filter: blur(150px);
}
.line-circle {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 600px;
  border: 1px dashed #b8eb4b;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
