/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  border: 1px solid red;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
}
