@font-face {
  font-family: kakao;
  src: url("/kakaoresult/font/KakaoBigRegular.ttf"),
    local("KakaoBigregular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kakao";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
