@import url("/web02/reset.css");

body {
  position: relative;
}
.header {
  background: royalblue;
  width: 100%;
  height: 60px;
}
.header .gnb {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gnb a {
  color: white;
}

.icon {
  position: absolute;
  right: 0px;
  color: white;
}
.icon i {
  font-size: 20px;
  padding
}

@media all and (max-width: 500px) {
  .header .gnb,
  .icon {
    display: none;
  }
}
