/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* common css */
#wrap {
  width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
/* nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}
#left_nav,
#right_nav {
  display: flex;
  gap: 15px;
}

/* search */
form {
  width: 800px;
  height: 70px;
  margin: 0 auto 26px;
  position: relative;
}

main input {
  display: block;
  margin: auto;
  width: 800px;
  height: 60px;
  border: 2px solid #03c75a;
  border-radius: 50px;
  font-size: 18px;
  margin-bottom: 100px;
  padding-left: 90px;
  z-index: 9999;
  background-color: transparent;
}
main input:focus {
  border: 2px solid #03c75a;
  outline: none;
}
#character {
  position: absolute;
  top: -1px;
  width: 800px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 600px;
  z-index: -9999;
}

#character span {
  font-size: 25px;
  color: #03c75a;
}
#character .naver {
  font-size: 25px;
  font-weight: bold;
  color: #03c75a;
}

/* icon */
#icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.boxitems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxitem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid #f7f7f8;
  border-radius: 16px;
  box-shadow: 0 0 10px #b3b3be;
  color: #03c75a;
  margin-bottom: 15px;
}

.boxitem > span:first-child {
  font-size: 25px;
}

/* main */
#maincontent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 22px;
}
#addsection {
  background-image: url("/contents/ad1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 833px;
  height: 90px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* news section */
#newssection {
  width: 833px;
  height: 428px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  padding: 20px;
}
#newsstand {
  font-size: 18px;
  color: #b3b3be;
  margin-bottom: 18px;
}
