/*----------------Reset CSS-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR&display=swap");

:root {
  --main-color: #f9bb00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 10px;
  font-weight: normal;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  overflow-x: hidden;
}

#viewcontent {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  padding-bottom: 33.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* style css */

/* mapservice */
#mapservice {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 9.6rem 0;
  gap: 10rem;
}
.mapservice-search {
  width: 100%;
  max-width: 73.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mapservice-search > h3 {
  font: 700 4.8rem "Noto Sans KR";
  margin-bottom: 5rem;
}
.mapservice-searchbarwrap {
  border: 2px solid var(--main-color);
  border-radius: 0.8rem 0.8rem 0.8rem 3.2rem;
  width: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem;
}
.mapservice-searchbarwrap > input {
  display: block;
  width: 90%;
  height: 100%;
  max-width: 100%;
  border: none;
  padding-left: 1rem;
  font: 400 2.4rem "Noto Sans KR";
}
.mapservice-searchbarwrap > input:focus {
  outline: none;
}
.mapservice-searchbarwrap > img {
  position: absolute;
  right: 2rem;
  width: 5.4rem;
  height: 5.4rem;
  cursor: pointer;
}
.mapservice-tagwrap {
  width: 100%;
  position: relative;
}
.mapservice-tagwrap > ul {
  width: 100%;
  max-width: 100%;
  gap: 1.6rem;
  display: flex;
}
.mapservice-tagwrap > ul > li {
  background: #ebebeb;
  padding: 1.2rem 1.6rem;
  border-radius: 1.6rem 0rem 1.6rem 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}
.mapservice-tagwrap > ul > li:hover {
  background: var(--main-color);
}
.mapservice-tagwrap > ul > li > a {
  font: 700 1.7rem "Noto Sans KR";
  color: #333;
}
.mapservice-imgwrap {
  max-width: 41.5rem;
  height: 33.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.mapservice-map {
  position: absolute;
  width: 41.5rem;
  max-width: 41.5rem;
  max-height: 33.4rem;
  top: 10%;
}
.mapservice-pin {
  position: absolute;
  max-width: 41.5rem;
  max-height: 33.4rem;
  top: 10%;
  z-index: 5;
  animation: scale 1s ease-in-out, bounce 2s ease-in-out infinite;
}
@keyframes scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* magazine */
#magazine {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.6rem;
  position: relative;
}
.magazine-title {
  display: flex;
  flex-direction: column;
  width: 30.8rem;
  gap: 2rem;
}
.magazine-txt-wrap > h1 {
  font: 400 4.8rem/1.2 "Noto Sans KR";
}
.magazine-txt-wrap > h1 span {
  font-weight: 700;
}
.magazine-txt-wrap > p {
  margin-top: 1.2rem;
  font: 400 1.6rem/2.4 "Noto Sans KR";
  color: var(--main-color);
}
.magazine-snsicon-wrap {
  width: 100%;
  display: flex;
}
.magazine-snsicon-wrap ul {
  display: flex;
}
.magazine-snsicon-wrap ul > li {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
.magazine-snsicon-wrap ul > li > a > i {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: #eeeeee;
  transition: all 0.3s;
}
.magazine-snsicon-wrap ul > li > a > i:hover {
  color: #858585;
}
.magazine-sliderwrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}
.magazine-swiper-button-prev,
.magazine-swiper-button-next {
  position: absolute;
  width: 5.4rem;
  height: 5.4rem;
  font-size: 0;
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
}
.magazine-swiper-button-prev:hover,
.magazine-swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 1);
}
.magazine-swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
}
.magazine-swiper-button-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.magazine-swiper-button-prev img,
.magazine-swiper-button-next img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper li:nth-child(even) {
  transform: translateY(10%);
}
.swiper-slide {
  width: 30rem;
  height: 100%;
  transition: all 0.3s;
  /* position: relative; */
}
.swiper-slide .magazin-slide-imgwrap {
  width: 100%;
  height: 40rem;
  display: flex;
  border: 4px solid transparent;
  border-radius: 3.2rem 3.2rem 3.2rem 0;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 3rem;
  transition: all 0.3s;
}
.swiper-slide .magazin-slide-imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.swiper-slide:hover .magazin-slide-imgwrap img {
  scale: 1.2;
}
.swiper-slide:hover .magazin-slide-imgwrap {
  border-color: var(--main-color);
}
.swiper-slide:hover .magazin-slide-snstitle h2,
.swiper-slide:hover .magazin-slide-title {
  color: var(--main-color);
}
.swiper-slide:hover .magazin-slide-snstitle img {
  border-color: var(--main-color);
}
.magazin-slide-snstitle {
  max-width: 90%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.magazin-slide-snstitle img {
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.2rem;
  border: 1px solid #ebebeb;
  border-radius: 50%;
}
.magazin-slide-snstitle h2 {
  font: 400 2.4rem "Noto Sans KR";
  color: #333;
}
.magazin-slide-title {
  margin-top: 0.4rem;
  max-width: 30rem;
  min-height: 4rem;
  color: #999;
  font: 400 1.5rem/1.5 "Noto Sans KR";
  text-align-last: left;
  padding-left: 5.6rem;
}

/* custormer */
#customer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.6rem;
  position: relative;
}
.customer-notice,
.customer-news {
  width: 100%;
  max-width: calc(50% - 8px);
  padding: 3.2rem 3.2rem 4rem 3.2rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 3.2rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-notice-titlewrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.customer-notice-titlewrap h2 {
  width: 100%;
  font: 700 2rem "Noto Sans KR";
}
.customer-notice-button {
  max-width: 9.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customer-notice-button-txt {
  max-width: 6.5rem;
}
.customer-notice-button .customer-notice-button-txt span {
  color: #333;
  font: 700 1.5rem "Noto Sans KR";
}
.customer-notice-button-img {
  width: 2.4rem;
  height: 2.4rem;
}
.customer-notice-button-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-notice-lists {
  width: 100%;
}
.customer-notice-lists li {
  width: inherit;
  margin-bottom: 2.4rem;
}
.customer-notice-lists li:hover a {
  color: var(--main-color);
}
.customer-notice-lists li:last-child {
  margin-bottom: 0;
}
.customer-notice-lists li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #999;
  transition: all 0.3s;
}
.customer-notice-lists li a h2,
.customer-notice-lists li a span {
  font: 500 1.5rem "Noto Sans KR";
}
.customer-notice-lists li a h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customer-notice-lists li a span {
  width: inherit;
  text-align: right;
}
